body {
  margin: 0;
  padding: 0;
  background-color: #1f1d1d;
  overflow-x: hidden;
  
}

.title {
  color: rgb(0, 0, 0);
}

.texto {
  position: absolute; /* Mantiene el texto en su lugar */
  top: 350px; /* Ajusta la posición */
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;

  color: white;
  padding: 10px;
  border-radius: 100px;
  transition: opacity 0.5s ease-in-out;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
body {
   background-image: url("Blog\ Automovilismo/portada.jpg"); 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.capa {
  
  position: fixed;
  width: 100%;
  height: -webkit-fill-available;
  background: rgba(0, 0, 0, 0.543);
  z-index: -1;
  top: 0;
  left: 0;
}
/*Estilos para el encabezado*/
.header {
  box-shadow: black;
  background: rgba(0, 0, 0, 0.543);
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}
.container .btn-menu label {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.logo h1 {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
}
.container .menu {
  float: right;
  line-height: 100px;
}
.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}
.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
  display: none;
}
.container-menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.138);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  position: fixed;
}
#btn-menu:checked ~ .container-menu {
  z-index: 1000;
  position: fixed;
  opacity: 1;
  visibility: visible;
}
.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}
.cont-menu nav {
  transform: translateY(15%);
}
.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.padre {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 130%;
  vertical-align: baseline;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;

  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  margin-left: 30px;
  mix-blend-mode: difference;
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a {
  display: block;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a:hover {
  background: #484848;
}

.titulo {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
}
.name {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 45px;
}

.tittle {
  height: 60vh !important;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  height: 200px;
}

.education {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 200px;
}

.text {
  text-align: justify;
  color: #fff;
}
.text .img_face {
  text-align: center;
}

.subTitulo {
  color: #fff;
}

.tittle-pagina {
  display: flex;
  justify-content: center;
}
.img_face {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.sobre_mi {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 200px;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background: #1f1d1d;
}

.box-container .box {
  height: 11rem;
  width: 17rem;
  background: #101010;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
}

.box-container .box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #000000de;
  font-size: 2rem;
  margin: 1rem 0;
}

.box-container .box h3 {
  font-size: 20px;
  color: #fff;
}

.box-container .box p {
  padding: 0 15px;
  font-size: 16px;
}

.blog-img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  position: relative;
  border-radius: 10px;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease 0.3s;
}





.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 3px solid #000000de;
  color: #fff;
  text-decoration: none;
  background: #000000de;
  border-radius: 2rem;
}
.btn:hover {
  background: none;
}

.btn-home {
  display: flex;
  justify-content: center;
  gap: 140px;
}
.btn-home {
  margin: 0 10px;
}

.contain {
  gap: 30px;
  display: flex;
  justify-content: center;
  padding: 40px 100px;
}
.contain-3 {
  padding: 17px;
  background: #1010108c;
  border-radius: 2rem;
  
}
.contain-4 {
  padding: 17px;
  background: #1010108c;
  border-radius: 2rem;
  
}
.contain-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 44px 128px;
  gap: 169px;
}
.contain-pilotos {
  text-align: center;
  gap: 108px;
  display: flex;
  justify-content: center;
  padding: 60px 450px;
}

.contain-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 200px;
}

.slider {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

.slider .slider-track {
  display: flex;
  justify-content: center;
  display: flex;
  width: calc(200px * 6);
  animation: scroll 10s ease-in-out infinite alternate;
  -webkit-animation: scroll 10s ease-in-out infinite alternate;
}

.slider-track {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.slider .slide {
  width: 200px;
}

@keyframes scroll {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translateX(-250px);
  }
}

.perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
}

.projects {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px;
  gap: 50px;
}
.perfilGIT {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
}


/* Adaptar imágenes de perfil */
.perfil,
.perfilGIT {
  width: 100%;
  max-width: 140px;
  height: auto;
  border-radius: 50%;
}

/* Ajustar el contenedor de proyectos */
.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
@media  screen and (min-width: 1024px) {
  .contain-4 {
    display: none;
  }
  
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .tittle {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .contain-3{
    display: none;
  }

  .sobre_mi,
  .contain-2,
  .education,
  .contain {
    flex-direction: column;
    padding: 20px;
  }

  .box-container {
    flex-direction: column;
    align-items: center;
  }

  .btn-home {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .head {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .img_face {
    width: 100%;
    height: auto;
  }
  .body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: absolute;
  }
  .padre {
    padding: 10px;
  }

  .tittle h1,
  .tittle h2 {
    font-size: 20px;
    text-align: center;
  }

  .perfil {
    max-width: 150px;
  }

  .box-container {
    gap: 10px;
  }
}
/* Estilo de imagen que se difuminada */

.img_difuminada {
  border-radius: 20px;
  width: 70%; /* O el tamaño que desees */
  height: auto;
  display: block; /* Para eliminar cualquier espacio extra debajo de la imagen */
  transition: filter 0.3s ease-in-out; /* Transición suave para el efecto */

  /* Aplica un difuminado inicial a la imagen */
  filter: blur(
    5px
  ); /* Ajusta el valor en píxeles (px) para controlar la intensidad */
}

/* Efecto al pasar el cursor (hover) */
.img_difuminada:hover {
  filter: blur(
    0
  ); /* Al pasar el cursor, el difuminado desaparece, revelando la imagen clara */
}

/* Opcional: Un efecto opuesto - la imagen es clara y se difumina al pasar el cursor */
.img_difuminada-inversa {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease-in-out;
  filter: blur(0); /* Inicialmente clara */
}

/* Estilo de imagen que se difuminada_p */
.img_pilotos-inversa:hover {
  filter: blur(5px); /* Se difumina al pasar el cursor */
}
.img_pilotos {
  border-radius: 20px;
  width: 50%; /* O el tamaño que desees */
  height: auto;
  display: block; /* Para eliminar cualquier espacio extra debajo de la imagen */
  transition: filter 0.3s ease-in-out; /* Transición suave para el efecto */

  /* Aplica un difuminado inicial a la imagen */
  filter: blur(
    5px
  ); /* Ajusta el valor en píxeles (px) para controlar la intensidad */
}

/* Efecto al pasar el cursor (hover) */
.img_pilotos:hover {
  filter: blur(
    0
  ); /* Al pasar el cursor, el difuminado desaparece, revelando la imagen clara */
}

/* Opcional: Un efecto opuesto - la imagen es clara y se difumina al pasar el cursor */
.img_pilotos-inversa {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease-in-out;
  filter: blur(0); /* Inicialmente clara */
}

.img_pilotos-inversa:hover {
  filter: blur(5px); /* Se difumina al pasar el cursor */
}



